.about-infos {
    display: flex;
    width: 360px;
    flex-direction: column;

    color: #665C5F;
    text-transform: uppercase;
}

.about-infos p {
    font-size: 22px;
    font-weight: 500;
    line-height: 18px;
    margin: 0px;
}

.back-button {
    text-align: center;
}

@media (min-width: 1248px) {
    .about-infos {
        display: flex;
        margin-top: 64px;
        width: 525px;
        flex-direction: column;
    
        color: #665C5F;
        text-transform: uppercase;
        gap: 16px;
    }
    
    .about-infos p {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        margin: 0px;
    }
    
    .back-button {
        text-align: center;
    }
}