.app {
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.profile-icons {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 32px;
}

.profile-container img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid 3px #EA4476;
}

@media (min-width: 1248px) {
    .app {
        display: flex;
        flex-direction: column;
        height: 100vh;
    
        justify-content: center;
        align-items: center;
    }

    .profile-container {
        display: flex;
        height: 320px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .profile-icons {
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        gap: 16px;
    }

    .profile-container img {
        width: 330px;
        height: 330px;
        border-radius: 50%;
        border: solid 3px #EA4476;
    }
}