.app {
    display: flex;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    height: 100%;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

.profile-icons {
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 32px;
}

.profile-infos {
    display: flex;
    width: 330px;
    flex-direction: column;

    color: #665C5F;
    text-transform: uppercase;
    gap: 16px;
}

.profile-title {
    display: flex;
    align-items: center;
}

.profile-title h3 {
    color: #EA4476;
    width: 150px;
    font-size: 48px;
    font-weight: 500;
    line-height: 28px;
    margin: 0px;
}

.profile-infos h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    margin: 0px;
}

.profile-infos h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 42px;
    margin: 0px;
}

.profile-infos p {
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    margin: 0px;
}

.profile-container img {
    width: 330px;
    height: 330px;
    border-radius: 50%;
    border: solid 3px #EA4476;
}

@media (min-width: 1248px) {
    .app {
        display: flex;
        height: 100vh;
    
        justify-content: center;
        align-items: center;
    }

    .profile-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 64px;
    }

    .profile-icons {
        display: flex;
        flex-direction: column;
    
        justify-content: center;
        gap: 16px;
    }

    .profile-infos {
        display: flex;
        flex-direction: column;
        width: 525px;
    
        justify-content: center;
        color: #665C5F;
        text-transform: uppercase;
        padding: 32px;
        gap: 16px;
    }

    .profile-title {
        display: flex;
        align-items: center;
    }
    
    .profile-title h3 {
        color: #EA4476;
        width: 240px;
        font-size: 48px;
        font-weight: 500;
        line-height: 28px;
        margin: 0px;
    }

    .profile-infos h1 {
        font-size: 32px;
        font-weight: 500;
        line-height: 38px;
        margin: 0px;
    }
    
    .profile-infos h2 {
        font-size: 64px;
        font-weight: 500;
        line-height: 75px;
        margin: 0px;
    }
    
    .profile-infos p {
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        margin: 0px;
    }

    .profile-container img {
        width: 330px;
        height: 330px;
        border-radius: 50%;
        border: solid 3px #EA4476;
    }
}